@import url('http://fonts.cdnfonts.com/css/abeezee');

*{
    font-family: 'ABeeZee', sans-serif;
}

.resources-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 60px auto;
    min-height: 800px;
}

.resources-upper-sidescroll{
    white-space: nowrap;
    min-height: 300px;    max-height: 400px;
    width: 8000vw;
    overflow-y: hidden;
    overflow-x: scroll ;
    position: relative;
    -webkit-overflow-scrolling: touch;
}

.resources-sidescroll-items {
    float: none;
    width: 300px;
    height: 100%;
    margin: 10px 20px;
    display: inline-block;
}

.resources-sidescroll-flex{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}

.resources-sidescroll-items img{
    width: 100%;
    height: auto;
}

.resources-lower-zone {
    max-height: auto;
    width: 100%;
    margin: 0px 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.resources-review-corner {
    width: 60%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 20px;
}

.resources-review-corner h1 {
    margin: 10px 0px;
}

.resources-review-items {
    width: 100%;
    min-height: 50px;
    margin: 10px;
    border-color: rgba(211,211,211, 0.4);
    border-width: 2px;
    border-top-style: solid;
    border-bottom-style: solid;
    display: flex;
    flex-flow: row nowrap;
}

.resources-review-items img {
    width: auto;
    height: 50px;
    margin: 10px 0px;
    padding-right: 10px ;
    border-right: 2px rgba(211,211,211, 0.4) solid;
}

.resources-review-item-text{

    margin: 10px 0px 10px 10px;
    width: auto;
    height: 100%;
}

.resources-review-item-text p {
    margin: 0;
}

.resources-tips-tricks{
    margin-top: 20px;
    background-color: rgb(237, 237, 237);
    width: 30%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.resources-tips-tricks h1 {
    margin: 10px 0px;

}
.resources-tips-items p{
    padding-left: 30px;

}

.resources-tips-items{
    text-align: justify;
    width: 100%;
    padding: 0px 20px;
}

@media (max-width: 768px) {
    .resources-upper-sidescroll{
        height: 300px;
    }

    .resources-lower-zone{
        display: flex;
        flex-flow: column nowrap;
    }

    .resources-review-corner {
        order: 1;
        width: 90%;
        margin: 0px 20px;
        margin-top: 40px;
        height: auto;
    }

    .resources-tips-tricks {
        order: 0;
        width: 90%;
        height: auto;
        margin: 20px;
    }
    .resources-tips-items{
        padding: 0px 30px;
    }
}