.dashboard-flex-container {
    display: flex;
    flex-flow: row wrap;
}

.dashboard-flex-container>* {
    padding: 10px;
    flex: 1 100%;
}

.dashboard-left-container {
    flex: 3;
}

.dashboard-right-container {
    flex: 1;
}

.dashboard-current-stock {
    text-align: center;
}


.dashboard-header-container {
    flex: 2;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    justify-content: center;
}

.dashboard-searchBar-container {
    margin: 10px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}